body{
  background-color: #f4f6ff;
  margin:0;
  text-align: center;
  font-family: sans-serif;
}
h1{
  font-size: 6rem;
  margin-top: 50px auto 0 auto;
  color: #ffcb74;
  font-family: 'Parisienne', cursive;
}
h2{
  color: #4f8a8b;
  font-size: 3.5rem;
}
h3{
  color: #4f8a8b;
  font-size: 2rem;
}
hr{
  border-style: dotted none none none;
  border-width: 1rem;
  border-color: lightgray;
  width: 10%;
  margin: 50px auto;
}
.intro{
  padding-top: 100px;
  position: relative;
  background-color: #3ca59d;
  margin:0;
}
.profile img{
  border-radius: 40%;
  padding-top: 30px;
}
.intro p{
  font-size: 2.5rem;
  font-weight: normal;
  color: #ffcb74;
}
.mountain{
  border-radius: 30px;
  padding-top: 100px;
}
.bottom-cloud{
  position: absolute;
  left: 200px;
}
.top-cloud{
  position: absolute;
  right: 200px;
  top:70px;
}
.skill-row{
  margin: 100px auto;
  width: 50%;
  text-align: left;
  line-height: 2rem;
  font-family: 'Cabin', sans-serif;
  padding-bottom: 30px;
}
.profile p{
  font-family: 'Cabin', sans-serif;
}
.contact-me p{
  font-family: 'Cabin', sans-serif;
}
.python-image{
  width: 25%;
  float: left;
  margin-right: 30px;
  border-radius: 50%;
}
.webdev-image{
  width: 25%;
  float: right;
  margin-left: 30px;
  border-radius: 50%;
}
.bottom-container{
  background-color: #ffcb74;
  padding: 50px;
}
.bottom-container a{
  padding-right: 50px;
  outline: none;
  text-decoration: none;
  font-family: 'Krona One', sans-serif;
}
.bottom-container p{
  color: white;
}
.contact-me{
  padding: 90px;
}
.contact-me p{
  padding-bottom: 40px;
}
.btn{
  text-decoration: none;
  background-color: #4f8a8b;
  padding: 20px;
  color: white;
  border-radius: 20%;
}
